BLOG_NAME="Next.js Blog Theme"
BLOG_TITLE="A lightweight, customizable blogging starter"
BLOG_FOOTER_TEXT="Built with Next.js and Tailwind"
BLOG_THEME="default"
BLOG_FONT_HEADINGS="sans-serif"
BLOG_FONT_PARAGRAPHS="sans-serif"
GROQ_API_KEY=""
SEMANTIC_SCHOLAR_API_KEY=""
